# Environment
# development | production
NODE_ENV=development


# Database (Local Development)
DB_USER=
DB_PASSWORD=
DB_NAME=

# Example:
# DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"
DATABASE_URL=


# Database (Supabase - Production)

# Direct connection
# DATABASE_URL="postgresql://postgres:<PASSWORD>@db.<PROJECTREF>.supabase.co:5432/postgres"

# Connection pooler
# DATABASE_URL="postgresql://postgres.<PROJECTREF>:<PASSWORD>@<REGION>.pooler.supabase.com:6543/postgres"

# SSL CA (required if SSL is enforced)
PG_SSL_CA=


# Application
APP_PORT=3000

# Swagger (Protect)
SWAGGER_USERNAME=
SWAGGER_PASSWORD=


# Authentication / Security (Secrets)
BETTER_AUTH_SECRET=


# External Services (Secrets)
LLM_API_KEY=
POST_LLM_PATH=


# CORS / URLs
BETTER_AUTH_URL=
BETTER_AUTH_CORS=
